<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Books / Authors</title>

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="/resources/libraries/bootstrap.min.css"></link>
        <link type="text/css" rel="stylesheet" href="/resources/libraries/bootstrap-vue.min.css"></link>
        <link type="text/css" rel="stylesheet" href="/resources/comfortable.data.css"></link>

        <!-- Javascript -->
        <script src="/resources/libraries/jquery.min.js"></script>
        <script src="/resources/libraries/bootstrap.min.js"></script>
        <script src="/resources/libraries/vue.min.js"></script>
        <script src="/resources/libraries/bootstrap-vue.min.js"></script>
        <script src="/resources/libraries/axios.min.js"></script>
    </head>

    <body>
        <div id="content" class="content">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Books / Authors ({{ authors.length }})</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books/publishers">Publishers</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <b-button variant="outline-success" class="mr-sm-2" v-b-modal.new-author>New Author</b-button>
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search" aria-label="Search"
                           v-model="search">                    
                </form>
            </nav>

            <b-modal id="new-author" title="New Author"
                     header-bg-variant="dark" header-text-variant="light"
                     @show="resetAddAuthor"
                     @ok="handleAddAuthor">
                <b-form-group id="form-full-name"
                              :state="fullNameState"
                              label="Full Name:" label-for="input-full-name"
                              invalid-feedback="Full name is required!"
                              @submit.stop.prevent="handleAddAuthor">
                    <b-form-input
                        id="input-full-name"
                        :state="fullNameState"
                        v-model="new_author.fullName"
                        required
                        placeholder="Enter Full Name"></b-form-input>
                </b-form-group>
            </b-modal>

            <div class="container">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Authors</th>
                            <th>Created</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(author, index) in filteredAuthors">
                            <td>{{ index+1 }}</td>
                            <td>{{author.fullName}}</td>
                            <td>{{author.created}}</td>
                            <td>{{author.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>      

        <script src="/resources/authors.js"></script>
    </body>
</html>