<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Books / Publishers</title>

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="/resources/libraries/bootstrap.min.css"></link>
        <link type="text/css" rel="stylesheet" href="/resources/libraries/bootstrap-vue.css"></link>
        <link type="text/css" rel="stylesheet" href="/resources/comfortable.data.css"></link>

        <!-- Javascript -->
        <script src="/resources/libraries/jquery.min.js"></script>
        <script src="/resources/libraries/bootstrap.min.js"></script>
        <script src="/resources/libraries/vue.min.js"></script>
        <script src="/resources/libraries/bootstrap-vue.js"></script>
        <script src="/resources/libraries/axios.min.js"></script>
    </head>

    <body>
        <div id="content" class="content">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Books / Publishers ({{ publishers.length }})</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books/authors">Authors</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <b-button variant="outline-success" class="mr-sm-2" v-b-modal.new-publisher>New Publisher</b-button>
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search" aria-label="Search"
                           v-model="search">                    
                </form>
            </nav>

            <b-modal id="new-publisher" title="New Publisher"
                     header-bg-variant="dark" header-text-variant="light"
                     @show="resetAddPublisher"
                     @ok="handleAddPublisher">
                <b-form-group id="form-full-name"
                              :state="fullNameState"
                              label="Full Name:" label-for="input-full-name"
                              invalid-feedback="Full name is required!"
                              @submit.stop.prevent="handleAddPublisher">
                    <b-form-input
                        id="input-full-name"
                        :state="fullNameState"
                        v-model="new_publisher.fullName"
                        required
                        placeholder="Enter full name"></b-form-input>
                </b-form-group>
            </b-modal>

            <div class="container">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Publishers</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(publisher, index) in filteredPublishers">
                            <td>{{ index+1 }}</td>
                            <td>{{publisher.fullName}}</td>
                            <td>{{publisher.created}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>      

        <script src="/resources/publishers.js"></script>
    </body>
</html>