<?xml version="1.0" encoding="utf-8" ?>
<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v-on="passthrough" xmlns:v-bind="passthrough">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Getting Things Done</title>

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="/resources/libraries/bootstrap.min.css"></link>
        <link type="text/css" rel="stylesheet" href="/resources/libraries/bootstrap-vue.min.css"></link>
        <link type="text/css" rel="stylesheet" href="/resources/comfortable.data.css"></link>

        <!-- Javascript -->
        <script src="/resources/libraries/jquery.min.js"></script>
        <script src="/resources/libraries/jquery-ui.min.js"></script>
        <script src="/resources/libraries/popper.min.js"></script>
        <script src="/resources/libraries/bootstrap.min.js"></script>
        <script src="/resources/libraries/vue.min.js"></script>
        <script src="/resources/libraries/bootstrap-vue.min.js"></script>
        <script src="/resources/libraries/axios.min.js"></script>
        <script src="/resources/libraries/showdown.min.js"></script>
    </head>
    
    <body>
        <!-- Template for adjusting the priority of a todo -->
        <template id="priority">
            <div class="input-group">
                <div class="col-xs-2">
                    <label class="font-weight-bold"
                           for="select-priority">Priority</label>
                    <select class="form-control" id="select-priority"
                            v-bind:value="value" v-on:change="$emit('input', $event.target.value)">
                        <option selected=" "> </option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
        </template>

        <!-- Template for adjusting the complexity of a todo -->
        <template id="complexity">
            <div class="input-group">
                <div class="col-xs-2">
                    <label class="font-weight-bold" for="select-complexity">Complexity</label>
                    <select class="form-control" id="select-complexity"
                            v-bind:value="value" v-on:change="$emit('input', $event.target.value)">
                        <option value="XS">Extra Small</option>
                        <option value="S">Small</option>
                        <option value="M" selected="M">Medium</option>
                        <option value="L">Large</option>
                        <option value="XL">Extra Large</option>
                    </select>
                </div>
            </div>
        </template>

        <div id="content" class="container-fluid">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">
                    Getting Things Done
                    <span v-if="version">(<small>{{ version }}</small>)</span>
                </a>

                <label class="ml-auto"></label>

                <button v-if="working.id" class="btn btn-outline-danger mr-2"
                        v-on:click="stopWorking">
                    Stop Timer
                </button>

                <button class="btn btn-outline-success mr-2"
                        v-on:click="openCreateTodoDialog">
                    New Todo
                </button>

                <form class="form-inline">

                    <!-- Search -->
                    <div class="input-group ml-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text font-weight-bold" for="search">Search</label>
                        </div>
                        <input class="form-control" id="search" type="search"
                               placeholder="Search for a todo" aria-label="Search"
                               v-model="search"/>
                    </div>

                    <!-- Sorting -->
                    <div class="input-group ml-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text font-weight-bold" for="sorting">Sorting</label>
                        </div>
                        <select class="form-control" id="priorities" v-model="sorting">
                            <option value="default" selected="default">Default</option>
                            <option value="recent-changes">Recent Changes</option>
                            <option value="complexity">Complexity</option>
                        </select>
                    </div>
                </form>
            </nav>

            <!-- dialog for creating a new todo -->
            <div id="create-todo" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-success">
                            <h4 class="modal-title">Create New Todo</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <div v-if="Object.keys(error_messages).length > 0" class="row text-white bg-danger m-1">
                                <div class="p-1" v-html="renderMarkdown(error_messages.title)" v-if="error_messages.title"></div>
                                <div class="p-1 m-1" v-html="renderMarkdown(error_messages.workingTime)" v-if="error_messages.workingTime"></div>
                                <div class="p-1 m-1" v-html="renderMarkdown(error_messages.estimatedWorkingTime)" v-if="error_messages.estimatedWorkingTime"></div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                         <div class="col">
                                            <label class="font-weight-bold" for="title">Title</label>
                                            <input id="title" type="text" class="form-control" placeholder="Enter the title of the todo" aria-label="Title" v-model="todo.title"></input>
                                        </div>
                                    </div>

                                    <div class="input-group mt-2">
                                         <div class="col">
                                             <div>
                                                <label class="font-weight-bold" for="description">Description</label>
                                                <button class="btn btn-sm btn-info float-right" v-on:click="togglePreviewDescription">
                                                    {{(!previewDescription) ? 'Preview' : 'Edit'}}
                                                </button>
                                             </div> 
                                            <textarea v-if="!previewDescription" id="description" type="text" class="form-control"
                                                      placeholder="Enter the description of the todo" aria-label="Description"
                                                      v-model="todo.description" rows="4"></textarea>
                                            <div v-if="previewDescription"
                                                 v-html="renderMarkdown(todo.description)">
                                                <!--{{ todo.description }} -->
                                            </div>
                                         </div>
                                    </div>

                                    <div class="input-group mt-1">
                                        <div class="col">
                                            <label class="font-weight-bold" for="projects">Projects</label>
                                            <b-form-tags id="projects" class="form-control" data-role="tagsinput"
                                                         placeholder="Provide some projects" aria-label="Projeccts"
                                                         v-model="todo.projects"
                                                         tag-variant="info" remove-on-delete=""></b-form-tags>
                                        </div>
                                    </div>

                                    <div class="input-group mt-2">
                                        <div class="col">
                                            <label class="font-weight-bold" for="tags">Tags</label>
                                            <b-form-tags id="tags" class="form-control" data-role="tagsinput"
                                                         placeholder="Enter some tags" aria-label="Tags"
                                                         v-model="todo.tags"
                                                         tag-variant="secondary" remove-on-delete=""></b-form-tags>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <priority v-model="todo.priority" ></priority>
                                    <complexity class="mt-1" v-model="todo.complexity" ></complexity>

                                    <div class="input-group mt-1">
                                        <div class="col-xs-2">
                                            <label class="font-weight-bold" for="estimation"
                                                   v-b-tooltip.hover.left="'Estimated working time'">Estimation</label>
                                            <input id="estimation" type="text" class="form-control"
                                                   placeholder="Provide a reasonable estimation" aria-label="Estimated Working Time"
                                                   v-model="todo.estimatedWorkingTime"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    v-on:click="createTodo()" v-bind:disabled="Object.keys(error_messages).length > 0">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- dialog for editing a todo -->
            <div id="edit-todo" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-success">
                            <h4 class="modal-title">Change Todo</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <div v-if="Object.keys(error_messages).length > 0" class="row text-white bg-danger m-1">
                                <div class="p-1" v-html="renderMarkdown(error_messages.title)" v-if="error_messages.title"></div>
                                <div class="p-1 m-1" v-html="renderMarkdown(error_messages.workingTime)" v-if="error_messages.workingTime"></div>
                                <div class="p-1 m-1" v-html="renderMarkdown(error_messages.estimatedWorkingTime)" v-if="error_messages.estimatedWorkingTime"></div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                         <div class="col">
                                            <label class="font-weight-bold" for="title">Title</label>
                                            <input id="title" type="text" class="form-control" placeholder="Enter the title of the todo" aria-label="Title" v-model="todo.title"></input>
                                        </div>
                                    </div>


                                    <div class="input-group mt-2">
                                         <div class="col">
                                             <div>
                                                <label class="font-weight-bold" for="description">Description</label>
                                                <button class="btn btn-sm btn-info float-right" v-on:click="togglePreviewDescription">
                                                    {{(!previewDescription) ? 'Preview' : 'Edit'}}
                                                </button>
                                             </div> 
                                            <textarea v-if="!previewDescription" id="description" type="text" class="form-control"
                                                      placeholder="Enter the description of the todo" aria-label="Description"
                                                      v-model="todo.description" rows="4"></textarea>
                                            <div v-if="previewDescription"
                                                 v-html="renderMarkdown(todo.description)">
                                                <!--{{ todo.description }} -->
                                            </div>
                                         </div>
                                    </div>

                                    <div class="input-group mt-1">
                                        <div class="col">
                                            <label class="font-weight-bold" for="projects"
                                                   v-b-tooltip.hover.right="'Assigned Projects'">Projects</label>
                                            <b-form-tags id="projects" class="form-control" data-role="tagsinput"
                                                         placeholder="Provide some projects" aria-label="Projeccts"
                                                         v-model="todo.projects"
                                                         tag-variant="info" remove-on-delete=""></b-form-tags>
                                        </div>
                                    </div>

                                    <div class="input-group mt-2">
                                        <div class="col">
                                            <label class="font-weight-bold" for="tags"
                                                   v-b-tooltip.hover.right="'Assigned tags'">Tags</label>
                                            <b-form-tags id="tags" class="form-control" data-role="tagsinput"
                                                         placeholder="Enter some tags" aria-label="Tags"
                                                         v-model="todo.tags"
                                                         tag-variant="secondary" remove-on-delete=""></b-form-tags>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <priority v-model="todo.priority"></priority>
                                    <complexity class="mt-1" v-model="todo.complexity" ></complexity>

                                    <div class="input-group mt-1">
                                        <div class="col-xs-2">
                                            <label class="font-weight-bold" for="workingTime"
                                                   v-b-tooltip.hover.left="'Working time'">Working Time</label>
                                            <input id="workingTime" type="text" class="form-control"
                                                   placeholder="Reasonable working time" aria-label="Working Time"
                                                   v-model="todo.workingTime"
                                                   v-bind:disabled="working.id === todo.id"></input>
                                        </div>
                                    </div>

                                    <div class="input-group mt-1">
                                        <div class="col-xs-2">
                                            <label class="font-weight-bold" for="estimation"
                                                   v-b-tooltip.hover.left="'Estimated working time'">Estimation</label>
                                            <input id="estimation" type="text" class="form-control"
                                                   placeholder="Provide a reasonable estimation" aria-label="Estimated Working Time"
                                                   v-model="todo.estimatedWorkingTime"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    v-on:click="updateTodo()" v-bind:disabled="Object.keys(error_messages).length > 0">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- dialog to ask whether you really want to delete -->
            <div id="do-you-really-want-to-delete" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h4 class="modal-title">Delete Todo</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">
                                Do you really want to delete?<br/>
                                "<strong>{{todo.title}}</strong>"
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="deleteTodo(todo)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="data-view" class="row">
                <!-- sidebar with quick filters -->
                <div id="sidebar" class="col-sm-3 ml-3">
                    <div>
                        <div v-if="working.id" class="mt-1 p-2 text-white bg-danger">
                            <span>#<strong>{{working.id}}</strong>:</span>
                            Working Time: {{ workingTimeAsHumanReadableString(workingTime) }}
                        </div>

                        <div class="mt-2" v-for="group in getGroups">
                            <div class="p-2 row font-weight-bold text-white bg-dark">{{ group.name }}</div>
                            <div class="row" v-for="(child, index) in group.children">
                                <div v-if="index < 5 || group.expanded" class="mt-1 col-lg-7 font-weight-bold">{{ child.name }}</div>
                                <div v-if="index < 5 || group.expanded" class="mt-1 col border-left">
                                    <span class="count badge badge-secondary badge-pill float-right"
                                          v-if="child.notCompletedCriteria"
                                          v-b-tooltip.hover.right="child.notCompletedTitle">                                        <span v-on:click="changeToFilter(child.notCompletedCriteria)">
                                            {{count(child.notCompletedCriteria)}}
                                        </span>
                                    </span>
                                </div>

                                <div v-if="index < 5 || group.expanded" class="mt-1 col border-left">
                                    <span class="count badge badge-secondary badge-pill float-right"
                                          v-if="child.allCriteria"
                                          v-b-tooltip.hover.right="child.allTitle">
                                        <span v-on:click="changeToFilter(child.allCriteria)">
                                            {{count(child.allCriteria)}}
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div v-if="group.children.length > 5" class="row mt-1 text-right">
                                <div class="col text-primary">
                                    <span class="toggle-group"
                                          v-on:click="group.expanded = !group.expanded">
                                        {{group.expanded? 'Show less...' : 'Show more...'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="table" class="col">
                    <table class="table table-striped table-sm">
                        <tbody>
                            <tr v-for="todo in filteredTodos"
                                draggable="true"
                                v-on:dragStart="dragStart(todo)"
                                v-on:dragOver="dragOver(todo)"
                                v-on:dragOver.prevent=""
                                v-on:drop="drop()">
                                <td class="align-middle border-right">
                                    <div class="d-flex flex-column">
                                        <strong>#{{ todo.id }}</strong>
                                        <span v-if="todo.completed">
                                            <img src="/resources/check.svg" v-if="todo.completed" v-on:click="toggleCompletion(todo)"/>
                                        </span>
                                    </div>
                                </td>

                                <td class="align-middle">
                                    <div class="d-flex flex-column text-center">
                                        <img class="mb-2" v-if="todo.priority != 'A' && !todo.completed" src="/resources/arrow-up-circle.svg"
                                             v-on:click="increasePriority(todo)"></img>
                                        <span class="font-weight-bold text-danger" v-if="todo.priority == 'A'">A</span>
                                        <span class="font-weight-bold text-warning" v-else-if="todo.priority == 'B'">B</span>
                                        <span class="font-weight-bold" v-else="">{{todo.priority}}</span>
                                        <img class="mt-2" v-if="todo.priority != ' '  && !todo.completed" src="/resources/arrow-down-circle.svg"
                                             v-on:click="decreasePriority(todo)"></img>
                                    </div>
                                </td>

                                <td>
                                    <h3 v-if="todo.completed">
                                        <s>{{ todo.title }}</s>
                                    </h3>
                                    <h3 v-if="!todo.completed">
                                        {{ todo.title }}
                                    </h3>

                                    <p v-if="todo.description && todo.description.length > 0"
                                       v-html="renderMarkdown(todo.description)">
                                    </p>

                                <div class="row">
                                    <div class="col"><small><strong>created:</strong> <em>{{ todo.created }}</em></small></div>
                                    <div class="col"><small v-if="todo.workingTime.length > 0"><strong>workingTime:</strong> <em>{{ todo.workingTime }}</em></small></div>
                                    <div class="col"><small><strong>complexity:</strong> <em>{{ visualizeComplexity(todo.complexity) }}</em></small></div>
                                    <div class="w-100"></div>
                                    <div class="col"><small><strong>changed:</strong> <em>{{ todo.changed }}</em></small></div>
                                    <div class="col"><small v-if="todo.estimatedWorkingTime.length > 0"><strong>estimation:</strong> <em>{{ todo.estimatedWorkingTime }}</em></small></div>
                                    <div class="col"></div>
                                  </div>
                                </td>

                                <td>
                                    <div class="d-flex flex-column">
                                        <div v-for="project in todo.projects">
                                            <button type="button" class="btn btn-info m-1 p-1">                                                
                                                <small v-on:click="changeToFilter(hasProject(project, isNotCompleted))">:{{ project }}</small>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex flex-column">
                                        <div v-for="tag in todo.tags">
                                            <button type="button" class="btn btn-secondary m-1 p-1">
                                                <small v-on:click="changeToFilter(hasTag(tag, isNotCompleted))">@{{ tag }}</small>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td class="border-left">
                                    <div class="d-flex flex-column">
                                        <img class="p-1" src="/resources/trash.svg"
                                             v-on:click="checkDelete(todo)"
                                             v-b-tooltip.hover.left="'Deleting todo with id #' + todo.id" />
                                        <img class="p-1" src="/resources/check.svg" v-if="!todo.completed && (!working.id || working.id === todo.id)"
                                             v-on:click="toggleCompletion(todo)"
                                             v-b-tooltip.hover.left="'Completing todo with id #' + todo.id" />
                                        <img class="p-1" src="/resources/pencil.svg" v-if="!todo.completed && (!working.id || working.id === todo.id)"
                                             v-on:click="editTodo(todo)"
                                             v-b-tooltip.hover.left="'Editing todo with id #' + todo.id" />
                                        <img v-if="!todo.completed && !working.id" class="p-1" src="/resources/clock.svg"
                                             v-on:click="startWorking(todo)"
                                             v-b-tooltip.hover.left="'Start working on todo with id #' + todo.id + ' (time tracking)'" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="/resources/todos.filter.mixin.js"></script>
        <script src="/resources/todos.sorting.mixin.js"></script>
        <script src="/resources/todos.crud.mixin.js"></script>
        <script src="/resources/todos.validation.mixin.js"></script>
        <script src="/resources/todos.conversion.mixin.js"></script>
        <script src="/resources/todos.sidebar.mixin.js"></script>
        <script src="/resources/todos.js"></script>
        
        </script>
    </body>
</html>
