<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"></link>

        <!-- production version, optimized for size and speed -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>


        <style>
            .navbar-brand {
                color: rgba(255, 255, 255, 1.0) !important;
                font-size: 22px;
            }

            .series {
                font-size: 10px;
            }

            .isbn {
                font-size: 10px;
            }

            .tag {
                font-size: 10px;
                float: left;
                margin-right: 2px;
            }            
        </style>
    </head>

    <body>
        <div id="content" class="content">
            <div class="container">
                <nav class="navbar navbar-light bg-dark">
                    <span class="navbar-brand mb-0 h1">Books</span>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search"
                               placeholder="Search" aria-label="Search"
                               v-model="search">
                    </form>
                </nav>
            </div>

            <div class="container">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Authors</th>
                            <th>Publisher</th>
                            <th>Year</th>
                            <th>Pages</th>
                            <th>Rating</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(book, index) in filteredBooks">
                            <td>{{ index+1 }}</td>
                            <td>
                                <span class="title" v-on:click="$bvModal.show('description' + index)">{{ book.title }}</span>
                                <span class="series" v-if="book.series"><br/>{{ book.series }}</span>
                                <b-modal ok-only scrollable centered
                                         header-bg-variant="dark" header-text-variant="light"
                                         v-bind:id="'description' + index" v-bind:title="book.title">
                                    {{ book.description }}
                                </b-modal>
                            </td>
                            <td>
                                <span v-for="author in book.authors">{{author.fullName}}<b/></span>
                            </td>
                            <td>
                                <span class="publisher">{{ book.publisher.fullName }}</span>
                                <br/><span class="isbn">{{ book.isbn }}</span>
                            </td>
                            <td>{{ book.yearOfPublication }}</td>
                            <td>{{ book.pages }}</td>
                            <td>{{ book.rating }}</td>
                            <td>
                                <span class="tag badge badge-dark" v-for="tag in book.tags">{{tag.name}}<b/></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>      

        <script>
var app = new Vue({
    el: '#content',
    data: {
        search: '',
        books: []
    },
    computed: {
        filteredBooks() {
            var searchText = this.search.toLowerCase();
            return this.books.filter( book => {
                return book.title.toLowerCase().includes(searchText) ||
                    book.authors.filter(author => {
                        return author.fullName.toLowerCase().includes(searchText);
                    }).length > 0 ||
                    book.publisher.fullName.toLowerCase().includes(searchText) ||
                    (book.rating && book.rating.toLowerCase().includes(searchText)) ||
                    (book.tags && book.tags.filter(tag => {
                        return tag.name.toLowerCase().includes(searchText);
                    }).length > 0)
            });
        }
    },
    mounted() {
        axios
            .get('/books')
            .then(response => (this.books = response.data))
    }
})
        </script>
    </body>
</html>