<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"></link>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>


        <style>
            .navbar-brand {
                color: rgba(255, 255, 255, 1.0) !important;
                font-size: 22px;
            }

            .series {
                font-size: 10px;
            }

            .isbn {
                font-size: 10px;
            }

            .tag {
                font-size: 10px;
                float: left;
                margin-right: 2px;
            }            
        </style>
    </head>

    <body>
        <div id="content" class="content">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Books</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/books/authors">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books/publishers">Publishers</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search" aria-label="Search"
                           v-model="search">
                </form>
            </nav>

            <div class="container">
                <b-table class="table table-striped table-sm"
                         :fields="fields" :items="books"
                         :filter="search" :filter-function="filterBook"
                         :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
                    <template slot="index" slot-scope="data">{{ data.index + 1 }}</template>
                    <template slot="title" slot-scope="data">
                        <span class="title" v-on:click="$bvModal.show('description' + data.index)">{{ data.item.title }}</span>
                        <span class="series" v-if="data.item.series"><br/>{{ data.item.series }}</span>
                        
                        <b-modal ok-only scrollable centered
                                 header-bg-variant="dark" header-text-variant="light"
                                 v-bind:id="'description' + data.index" v-bind:title="data.item.title">
                            {{ data.item.description }}
                        </b-modal>
                    </template>
                    <template slot="authors" slot-scope="data">
                        <span v-for="author in data.item.authors">{{author.fullName}}<b/></span>
                    </template>
                    <template slot="publisher" slot-scope="data">
                         <span class="publisher">{{ data.item.publisher.fullName }}</span>
                         <br/><span class="isbn">{{ data.item.isbn }}</span>
                    </template>
                    <template slot="yearOfPublication" slot-scope="data">{{ data.item.yearOfPublication }}</template>
                    <template slot="pages" slot-scope="data">{{ data.item.pages }}</template>
                    <template slot="rating" slot-scope="data">{{ data.item.rating }}</template>
                    <template slot="tags" slot-scope="data">
                        <span class="tag badge badge-dark" v-for="tag in data.item.tags">{{tag.name}}<b/></span>
                    </template>
                </b-table>
            </div>
        </div>      

        <script>
var app = new Vue({
    el: '#content',
    data: {
        sortBy: 'title',
        sortDesc: false,
        search: '',
        fields: [
            {key: 'index', label: '#'},
            {key: 'title', label: 'Title', sortable: true},
            {key: 'authors', label: 'Authors', sortable: true},
            {key: 'publisher', label: 'Publisher'},
            {key: 'yearOfPublication', label: 'Year'},
            {key: 'pages', label: 'Pages', sortable: true},
            {key: 'rating', label: 'Rating', sortable: true},
            {key: 'tags', label: 'Tags', sortable: true}
        ],
        books: []
    },

    mounted() {
        axios
            .get('/books')
            .then(response => (this.books = response.data));

        if (localStorage.bookSearch) {
            this.search = localStorage.bookSearch;
        }
    },
    
    watch: {
        search(newSearch) {
            localStorage.bookSearch = newSearch;
        }
    },
    
    methods: {
        filterBook(book) {
            console.log(book)
            var searchText = this.search.toLowerCase();
            return book.title.toLowerCase().includes(searchText) ||
                book.authors.filter(author => {
                    return author.fullName.toLowerCase().includes(searchText);
                }).length > 0 ||
                book.publisher.fullName.toLowerCase().includes(searchText) ||
                (book.rating && book.rating.toLowerCase().includes(searchText)) ||
                (book.tags && book.tags.filter(tag => {
                    return tag.name.toLowerCase().includes(searchText);
                }).length > 0);
        }
    }
})
        </script>
    </body>
</html>